.headerBG {
    background-color:rgb(15, 14, 26);
    color:rgb(255, 255, 255);
}
.searchBG {
    color: #000000;
}
.submitBG {
    background-color:#3a3a3ae8; 
    color:rgb(0, 0, 0);
}
.bodyBG {
    background-color:rgb(15, 14, 26);
}
.parentBG {
    color:#000000;
}
.greyBG {
    background-color: #ffffff;
}
ul {
    position: relative;
}
li {
    list-style: none;
    display: inline-block;
}
svg{
    z-index: 1;
}
hr {
    border-color: #ffffff;
    width: 90%;
}
.btn-info {
    margin-right: 10px;
}